.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
    height: 100px;
    padding-left: 20px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding-right: 30px;
    font-size: 20px;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card {
    padding: 5px;
    width: 200px;
    border-radius:10px;
    margin: 5px;
    color: black;
    text-decoration: none;
    background-color: #f0f0f0;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-card:link, .restaurant-card:visited {
    border: 1px solid black;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    border-radius: 10px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-button {
    width: 150px;
    height: 20px;
    margin: 5px;
    background-color: #f0f0f0;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    padding: 5px;
    width: 200px;
    height: 450px;
    border-radius:10px;
    margin: 5px;
    background-color: #f0f0f0;
}

.login {
    padding: 10px;
    width: 80px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
}

.search-bar {
    margin-right: 10px;
    cursor: text;
}

.search-button {
    cursor: pointer;
    margin-right: 10px;
}

.restaurant-title {
    display:inline;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
}

.filter-veg {
    padding: 5px;
    margin-right: 10px;
}

.show-all-btn {
    padding: 5px;
}

.user-card {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.github-avatar {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
}

.about-details-div {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    float: right;
    text-align: center;
    margin-top: 40px;
}